*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.RubikS-cube{
    margin: 200px auto 0;
    width: 100%;
    height: 100%;
    perspective: 3000px;
    perspective-origin: 100% 100%;
}
.rotate{

}
.cube-box{
    position: relative;
    margin: auto;
    width: 308px;
    height: 308px;
    transform-style: preserve-3d;
}
.small-box{
    outline: solid #000000;
    margin: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #000000 ;
    color: #00ffe1;
    text-align: match-parent;
}
.color-cube{
    width: inherit;
    height: inherit;
    position: absolute;
}

.move-front{
    transform: translateZ(210px);
}
.move-top{
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
}
.move-left{
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: left center;
}
.move-right{
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
}
.move-bottom{
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
}
.move-back{
    transform: translateZ(-100px);
}

.animate{
    animation-name: RubikS-cube;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes RubikS-cube {
    /*0%  { transform: rotateY(0deg);
        }
    25% {
        transform: rotateY(360deg) rotateX(0);
        }
    50% {
        transform: rotateX(360deg) rotateZ(0deg);
        }
    65% { transform: rotateZ(185deg); rotateX(0deg)
        }
    100% { transform: rotateX(360deg);
         }*/

     from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.yellow-box{
    background: yellow;
}
.green-box{
    background: green;
}
.red-box{
    background: red;
}
.orange-box{
    background: orange;
}
.orange-box:before{
    content: "";
    background-color: black;
}
.blue-box{
    background: blue;
}
.white-box{
    background: white;
}